<a href="https://colab.research.google.com/github/PedroConst/EQE-358-Metodos-Numericos/blob/main/Aulas/Aula_1_Introducao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 01: Bem-Vindos à EQE 358 - Métodos Numéricos

Nesta primeira aula vamos aprender as diferentes maneiras de utilizar o Python como uma calculadora simples para operações comuns da matemática.

## 1. Tipos de Dados



*   **`int`**: Números inteiros (ex.: $1, 2, 3, ...$)
*   **`float`**: Números decimais (ex.: $ 2.5, 7.56, 3.1415...$)
*   **`complex`**: Números complexos (ex.: $ 5+3j, 5-3j$)

<br>

---


*Atenção! Python representa a parte imaginária por $j$ ao invés de $i$*


---

<br>

Você pode usar a função `type()` para descobrir o tipo de um dado.

In [ ]:
type(1234)

In [ ]:
type(3.1415)

In [ ]:
type(5+3j)

## 2. Operações Aritméticas



---


**Exemplo:** Calcule a soma $9+5$.


---

In [ ]:
9+5

---


**Exemplo:** Calcule a multiplicação $7 \times 8$.


---

In [ ]:
7*8

---


**Exemplo:** Calcule a divisão $ 72 \div 3$.


---

In [ ]:
72/3

---


**Exemplo:** Calcule a exponenciação $2^{10}$.


---

In [ ]:
2**10



---


**Exemplo:** Calcule $\frac{3 × 4}{(2^2)+4/2}$


---

In [ ]:
(3*4)/(2**2+4/2)



---


**Exemplo:** Calcule $3$ dividido por $4$, depois multiplique o resultado por $2$, depois eleve o resultado ao cubo.


---

In [ ]:
3/4

In [ ]:
_*2

In [ ]:
_**3

---


**DICA!** O Python vai indicar um `ZeroDivisionError` quando a expressão $1/0$ aparecer.


---

In [ ]:
1/0



---

**Exemplo:** Calcule a soma $(5+3j)+(7-j)$


---

In [ ]:
(5+3j) + (7-1j)

In [ ]:
complex(5,3)+complex(7,-1)

## 3. Notação Científica

A notação científica pode ser utilizada através da letra $e$ entre dois números. Por exemplo, $1e6 = 1,000,000$, enquanto $1e-3=0.001$.

<br>

---
**Exemplo:**  Calcule o número de segundos em 3 anos usando notação científica.

---

In [ ]:
(3e0)*(3.65e2)*(2.4e1)*(3.6e3)

## 4. Módulo Math

Para utilizar algumas funções aritméticas básicas como `sin`, `cos`, `tan`, `asin`, `acos`,`exp`, `log`, `log10` ou `sqrt`, é necessário importar um módulo chamado `math`.

In [ ]:
import math

Para executar essas funções, basta utilizar o comando adequado seguindo o formato `modulo.funcao`



---

**Exemplo:** Calcule $\sqrt{4}$ usando a função `math.sqrt()`

---

In [ ]:
math.sqrt(4)

---

**Exemplo:** Calcule $sin(\pi/2)$. Observe que `math.pi`$=\pi$

---

In [ ]:
math.sin(math.pi/2)

---

**Exemplo:** Calcule $e^{\frac{3}{4}}$ usando a função `math.exp()`.

---

In [ ]:
math.exp(3/4)

---

**Exemplo:** Calcule $e^{\ln10}$.

---

In [ ]:
math.exp(math.log(10))

Observe que a função `math.log` em Python é o logaritmo neperiano (ou natural) $\log_{e}$, enquanto o $\log_{10}$ é dado pela função `math.log10`.



---
**Exemplo:** Calcule $1/\infty$ usando a função `math.inf`

---

In [ ]:
1/math.inf

---
**Exemplo:** Calcule $\infty \times 2$ usando a função `math.inf`

---

In [ ]:
math.inf * 2

---
**Exemplo:** Calcule $\infty/\infty$ usando a função `math.inf`

---

In [ ]:
math.inf/math.inf

## 5. Expressões Lógicas e Operadores

Uma expressão lógica é uma proposição que pode ser `True` (verdadeira) ou `False` (falsa). Esse tipo de dado é chamado de `boolean` (booleano). Os operadores de **comparação** são usados para construir expressões lógicas que comparam os valores de dois números ou variáveis.

Operador   | Descrição        | Exemplo    | Resultados  
-----------|----------------- |----------- |----------------
   `>`     | `maior`          | `a > b`    | `True`
   `>=`    | `maior ou igual` | `a >= b`   | `True`
   `<`     | `menor `         | `a < b`    | `True`
   `<=`    | `menor ou igual` | `a <= b`   | `True`
   `!=`    | `não igual`      | `a != b`   | `True`
   `==`    | `igual`          | `a == b`   | `True`

In [ ]:
5 == 4

In [ ]:
2 < 3

In [ ]:
(1 + 3) >= (2 + 5)

In [ ]:
(3 > 2) + (5 > 4)

Os operadores **lógicos** são os que relacionam duas ou mais expressões lógicas, ou negam a expressão lógica.


*   **`and`**: `True` se ambas as expressões são `True` (Adição)
*   **`or`**: `True` se uma expressão ou outra for `True` (Alternação)
*   **`not`**: `True` se a expressão for `False` (Negação)

In [ ]:
(3 > 2) and (5 > 4)

In [ ]:
(5 > 2) or (10 < 4)

In [ ]:
not (5 > 2)